---
import BaseLayout from "src/layouts/Base.astro";
import Navbar from "src/components/Navbar.astro";
import Footer from "src/components/Footer.astro";
import { formatDate } from "src/utils/date";

import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"blog" | "notes">;
  locale: "en" | "id";
}

const { entry, locale } = Astro.props;

const { Content, remarkPluginFrontmatter } = await entry.render();

const minutesRead = Math.ceil(remarkPluginFrontmatter.readingTime.minutes);

const t = {
  en: {
    published_on: "Published on",
    reading_time: `${minutesRead} ${minutesRead > 1 ? "minutes" : "minute"} to read`,
  },
  id: {
    published_on: "Terbit pada",
    reading_time: `Baca ${minutesRead} menit`,
  },
};

const translationSlugs = !!entry.data.translations
  ? {
      en: `blog/${entry.data.translations.en}`,
      id: `blog/${entry.data.translations.id}`,
    }
  : undefined;
---

<BaseLayout
  frontmatter={{ title: entry.data.title, summary: entry.data.summary, locale }}
>
  <Navbar locale={locale} slug={translationSlugs} />

  <main class="mt-12 sm:mt-20 max-w-screen-lg mx-auto px-4 mb-20 sm:mb-24">
    <article>
      <header class="pb-2 sm:pb-3 border-b border-gray-300">
        <h1
          class="font-sans-title text-4xl sm:text-6xl mb-5 sm:mb-8 text-balance"
        >
          {entry.data.title}
        </h1>
        <p
          class="text-lg sm:text-2xl leading-7 sm:leading-9 sm:text-balance mb-5 sm:mb-6"
        >
          {entry.data.summary}
        </p>
        <aside class="text-sm sm:text-md text-gray-500 flex items-center gap-2">
          <time datetime={formatDate(entry.data.published_date, locale)}
            >{t[locale].published_on}
            {formatDate(entry.data.published_date, locale)}</time
          >
          <span class="text-[6px]">•</span>
          <span>{t[locale].reading_time}</span>
        </aside>
      </header>

      <div
        class="pt-8 sm:pt-10 prose sm:prose-lg prose-pre:border prose-pre:rounded-lg prose-pre:p-2 prose-pre:!bg-gray-50 prose-h1:font-semibold prose-h1:text-3xl md:prose-h1:text-4xl prose-h2:font-semibold prose-h2:text-xl md:prose-h2:text-2xl prose-h3:text-lg md:prose-h3:text-xl prose-h1:font-sans-title prose-h2:font-sans-title prose-h3:font-sans-title prose-h4:font-sans-title prose-h1:text-pretty prose-h2:text-pretty prose-h3:text-pretty prose-h4:text-pretty prose-hr:border-t-2 prose-hr:border-gray-300"
      >
        <Content />
      </div>
    </article>
    <div class="mt-14 sm:mt-20">
      <script
        is:inline
        src="https://giscus.app/client.js"
        data-repo="rahmanda/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNzE0NjM2OTA="
        data-category="Q&A"
        data-category-id="DIC_kwDOCjhUCs4CfmwE"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async></script>
    </div>
  </main>
  <Footer locale={locale} />
</BaseLayout>
