---
import { SOCIAL_MEDIA } from "../config";
interface Props {
  locale: "en" | "id";
}

const { locale } = Astro.props;
---

<footer class="bg-gray-200">
  <div class="max-w-screen-lg mx-auto py-8 px-4 text-sm">
    <p class="mb-2">© 2015-present Rahmanda Wibowo. All rights reserved.</p>
    {
      locale === "en" ? (
        <p>
          You can find me on{" "}
          <a
            href={SOCIAL_MEDIA.x}
            class="underline inline-flex items-center"
            target="_blank"
          >
            X (Twitter),
          </a>
          <a
            href={SOCIAL_MEDIA.linkedin}
            class="underline inline-flex items-center"
            target="_blank"
          >
            Linkedin,
          </a>
          or
          <a
            href={SOCIAL_MEDIA.github}
            class="underline inline-flex items-center"
            target="_blank"
          >
            Github
          </a>
          .
        </p>
      ) : (
        <p>
          Temukan saya di{" "}
          <a
            href={SOCIAL_MEDIA.x}
            class="underline inline-flex items-center"
            target="_blank"
          >
            X (Twitter),
          </a>
          <a
            href={SOCIAL_MEDIA.linkedin}
            class="underline inline-flex items-center"
            target="_blank"
          >
            Linkedin,
          </a>
          atau
          <a
            href={SOCIAL_MEDIA.github}
            class="underline inline-flex items-center"
            target="_blank"
          >
            Github
          </a>
          .
        </p>
      )
    }
  </div>
</footer>
