---
import { t } from "src/config";

interface SlugLocale {
  en: string;
  id: string;
}

interface Props {
  locale: "en" | "id";
  slug?: string | SlugLocale;
  isRootSite?: boolean;
}

const { locale, slug, isRootSite = false } = Astro.props;

const navs = [
  {
    name: "Blog",
    link: `/${locale}/blog`,
    primary: false,
    external: false,
    isRootSiteOnly: true,
  },
  {
    name: "Notes",
    link: `/${locale}/notes`,
    primary: false,
    external: false,
    isRootSiteOnly: false,
  },
  {
    name: "Ayo Ngulik!",
    link: "https://ayongulik.com",
    primary: false,
    external: true,
    isRootSiteOnly: false,
  },
  {
    name: t[locale].contact,
    link: `/${locale}/contact`,
    primary: true,
    external: false,
    isRootSiteOnly: true,
  },
];

const webtitle = "Rahmanda Wibowo.";
const blogHomepageLink = `/${locale}/blog`;
const homepageLink = `/${locale === "id" ? "id" : ""}`;

const translateLinks = {
  en: typeof slug === "string" ? slug : slug?.en,
  id: typeof slug === "string" ? slug : slug?.id,
};
---

{
  slug === undefined ? null : (
    <aside class="bg-gray-200">
      <div class="max-w-screen-lg mx-auto px-4 py-2 text-right">
        <ul class="inline-flex items-center gap-3 text-sm text-gray-600 leading-none">
          <li>
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m13 19 3.5-9 3.5 9m-6.125-2h5.25M3 7h7m0 0h2m-2 0c0 1.63-.793 3.926-2.239 5.655M7.5 6.818V5m.261 7.655C6.79 13.82 5.521 14.725 4 15m3.761-2.345L5 10m2.761 2.655L10.2 15"
              />
            </svg>
          </li>
          <li class="mt-[0.2rem]">
            <a
              class:list={[locale === "id" && "underline"]}
              href={
                translateLinks.id === "" ? "/id" : `/id/${translateLinks.id}`
              }
            >
              Bahasa Indonesia
            </a>
          </li>
          <li class="mt-[0.2rem]">
            <a
              class:list={[locale === "en" && "underline"]}
              href={translateLinks.en === "" ? "/" : `/en/${translateLinks.en}`}
            >
              English
            </a>
          </li>
        </ul>
      </div>
    </aside>
  )
}

<header class="border-b-2 border-gray-300 sticky top-0 bg-gray-100">
  {
    isRootSite ? (
      <nav class="max-w-screen-lg mx-auto p-4 flex items-center">
        <div class="flex-1">
          <a
            href={locale === "en" ? "/" : "/id"}
            class="font-sans-title text-md sm:text-lg tracking-tighter"
          >
            {webtitle}
          </a>
        </div>
        <ul class="flex-none flex gap-6 text-sm sm:text-md">
          {navs.map((nav) => (
            <li>
              {nav.primary ? (
                <a
                  class="px-2 py-1 rounded bg-gray-900 text-white font-sans-title"
                  href={nav.link}
                >
                  {nav.name}
                </a>
              ) : (
                <a class="hidden sm:flex gap-1 hover:underline" href={nav.link}>
                  {nav.name}
                  {nav.external && (
                    <svg
                      class="w-4"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-arrow-up-right"
                    >
                      <line x1="7" y1="17" x2="17" y2="7" />
                      <polyline points="7 7 17 7 17 17" />
                    </svg>
                  )}
                </a>
              )}
            </li>
          ))}
          <li class="sm:hidden flex items-center">
            <button onclick="onButtonMenuClick()">
              <svg
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-width="2"
                  d="M5 7h14M5 12h14M5 17h14"
                />
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    ) : (
      <nav class="max-w-screen-lg mx-auto p-4 flex items-center">
        <div class="flex-1">
          <a
            href={blogHomepageLink}
            class="text-md sm:text-lg font-sans-title tracking-tighter"
          >
            Blog{" "}
            <span class="font-light text-sm sm:text-md">
              by Rahmanda Wibowo.
            </span>
          </a>
        </div>
        <ul class="flex-none flex gap-6 text-sm sm:text-md">
          {navs
            .filter((nav) => !nav.isRootSiteOnly)
            .map((nav) => (
              <li>
                {nav.primary ? (
                  <a
                    class="px-2 py-1 rounded bg-gray-900 text-white font-sans-title"
                    href={nav.link}
                  >
                    {nav.name}
                  </a>
                ) : (
                  <a
                    class="hidden sm:flex gap-1 hover:underline"
                    href={nav.link}
                  >
                    {nav.name}
                    {nav.external && (
                      <svg
                        class="w-4"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-up-right"
                      >
                        <line x1="7" y1="17" x2="17" y2="7" />
                        <polyline points="7 7 17 7 17 17" />
                      </svg>
                    )}
                  </a>
                )}
              </li>
            ))}
          <li class="hidden sm:flex text-gray-500">|</li>
          <li class="hidden sm:flex">
            <a class="hover:underline" href={homepageLink}>
              rahmandawibowo.com
            </a>
          </li>
          <li class="sm:hidden flex items-center">
            <button onclick="onButtonMenuClick()">
              <svg
                class="w-5 h-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-width="2"
                  d="M5 7h14M5 12h14M5 17h14"
                />
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    )
  }
  <aside
    id="side-navbar"
    class="side-navbar flex-none w-1/4 hidden sticky overflow-y-scroll p-6 bg-gray-100"
  >
    <button
      class="side-navbar__button-close button-close"
      onclick="onSideNavbarCloseClick()"
    >
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18 18 6m0 12L6 6"></path>
      </svg>
    </button>
    <nav>
      <div class="mb-8">
        <a class="font-sans-title text-lg" href={homepageLink}
          >Rahmanda Wibowo.</a
        >
      </div>

      <ul class="flex flex-col gap-6">
        {
          navs.map((nav) => (
            <li>
              <a class="text-3xl" href={nav.link}>
                {nav.name}
              </a>
            </li>
          ))
        }
      </ul>

      <ul class="inline-flex items-center gap-3 text-sm mt-10">
        <li>
          <a
            class:list={[locale === "id" && "underline"]}
            href={translateLinks.id === "" ? "/id" : `/id/${translateLinks.id}`}
          >
            Bahasa Indonesia
          </a>
        </li>
        <li>
          <a
            class:list={[locale === "en" && "underline"]}
            href={translateLinks.en === "" ? "/" : `/en/${translateLinks.en}`}
          >
            English
          </a>
        </li>
      </ul>
    </nav>
  </aside>
</header>
